"*":
  "atom-clock":
    locale: "es"
  core:
    disabledPackages: [
      "metrics"
      "fonts"
      "language-csharp"
      "language-clojure"
      "language-go"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-ruby-on-rails"
      "language-toml"
    ]
    ignoredNames: [
      "node_modules/"
      ".git"
      ".DS_Store"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "material-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 17
    invisibles:
      cr: " "
      eol: " "
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "auto"
  "exception-reporting":
    userId: "40ac019d-b141-f05f-7395-aa27e68e13d3"
  "file-icons": {}
  "git-blame":
    showOnlyLastNames: false
  "language-babel": {}
  linter:
    errorPanelHeight: 24
  "linter-jshint": {}
  minimap: {}
  "one-dark-ui": {}
  pigments: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".pug.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    invisibles:
      cr: false
      eol: false
    tabLength: 4
